<!DOCTYPE html>
<!--
	      Binary by TEMPLATED
	      templated.co @templatedco
	      Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="{{ '/assets/images/hsa-logo.ico' | url}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{site.description}}" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    <title>{{ site.title }} {{title}}</title>
  </head>

  <body>
  <!-- Header -->
  <header id="header">
    <a href="{{ '/' | locale_url }}" class="logo"><strong>{{ title }}</strong></a>
		<nav><a href="#menu">Menu</a></nav>
	</header>
	<!-- Nav -->
  {% include "partials/_navigation.njk" %}

  <!-- Main -->
  <section id="main">

    {{ content | safe }}

  </section>

  <!-- Footer -->
  {% include "partials/_footer.njk" %}

  <div class="copyright">
    Made with: <a href="https://templated.co/">Templated.co</a>
  </div>

    <!-- Scripts -->
    <script src="{{'/assets/js/jquery.min.js' | url}}"></script>
    <script src="{{'/assets/js/jquery.scrolly.min.js' | url}}"></script>
    <script src="{{'/assets/js/skel.min.js' | url}}"></script>
    <script src="{{'/assets/js/util.js' | url}}"></script>
    <script src="{{'/assets/js/main.js' | url}}"></script>

  </body>
</html>