---
layout: layouts/base.njk
templateClass: tmpl-home
---

    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <h1>Welcome to G.W. Childs HSA </h1>
        <!-- <ul class="actions">
          <li><a href="#one" class="button alt scrolly big">Continue</a></li>
        </ul> -->
      </div>
    </section>

    {{ content | safe }}

