---
title: Newsletter Archive
layout: layouts/base.njk
---

    <div class="inner">
        <header><h1>Newsletter Archive</h1></header>
            <ul>
                {% for post in collections.posts | reverse %}
                <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
                <p>{{ post.date | basicDate }} by {{ post.data.author }} </p>
                {% endfor %}
            </ul>
    </div>
