<!-- _includes/partials/_footer.njk-->
<footer id="footer">
    <ul class="icons">
        <li><a href="https://www.facebook.com/GWChildsSchool/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/gw_childs_elementary/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
</footer>