<!-- _includes/partials/_footer.njk-->
<footer>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/fundraising">Fundraising</a>
    <a href="/newsletter-welcome">Newsletter</a>
</footer>