    <!-- _includes/partials/_navigation.njk-->
    <nav id="menu">
        <ul class="links">
            <li><a href="{{ '/' | url}}">Home</a></li>
            <li><a href="{{ '/en/pages/about/' | url }}">About</a></li>
            <li><a href="{{ '/en/pages/contact/' | url }}">Contact</a></li>
            <li><a href="{{ '/en/pages/events/' | url }}">Events</a></li>
            <li><a href="{{ '/en/pages/fundraising/' | url }}">Fundraising</a></li>
            <li><a href="{{ '/en/pages/newsletter/' | url }}">Newsletter</a></li>
        </ul>
    </nav>