    <!-- _includes/partials/_navigation.njk-->
    <nav id="menu">
        <ul class="links">
            <li><a href="{{ '/' | url}}">Home</a></li>
            <li><a href="{{ '/pages/about/' | locale_url }}">About</a></li>
            <li><a href="{{ '/pages/contact/' | locale_url }}">Contact</a></li>
            <li><a href="{{ '/pages/events/' | locale_url }}">Events</a></li>
            <li><a href="{{ '/pages/fundraising/' | locale_url }}">Fundraising</a></li>
            <li><a href="{{ '/pages/newsletter/' | locale_url }}">Newsletter</a></li>
        </ul>
    </nav>