{% for event in hsaevents %}
* {{ event.start.dateTime | dateFormat("MMMM d, yyyy") }}: {{ event.summary }}
{% endfor %}

{% if (hsaevents | futureEvents).length === 0 %}
    No upcoming events in the next 3 months.
{% endif %}